.LandingPage {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LandingPage button:first-child {
  margin-bottom: 10px;
}

.LandingPage button {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 3px;
  height: 30px;
  color: var(--color-font);
  background: var(--color-button);
  cursor: pointer;
}

.LandingPage button:hover {
  background-color: var(--color-button-hover);
}
